*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    height: 80px;
    width: 70%;
    background-color: rgb(38, 165, 19);
    border-radius: 5px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 30;
}
.logoimg{
    height: 60px;
    width: auto;
}
.cart{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
    width: 80px;
}
.cart p{
    font-size: 24px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #7bc62d;
    cursor: pointer;
}

.modal-header-button {
    cursor: pointer;
}
.container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #cbf1a3;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: #7bc62d;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 4px solid #7bc62d;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #7bc62d;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #5b7e35;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #7bb33f;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #7bb33f;
    border-radius: 5px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #5b7e35;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash{
    color: #7bc62d;
}
.fa-trash:hover{
    cursor: pointer;
    color: #7bb33f;
}


.main__figure{
    overflow: hidden;
    border-radius: 1em;
    background-color: #D798F8;
    display: flex;
}

.main__img{
    margin: auto;
    width: 80%;
    max-width: 60vw;
}

.main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}

.main__form{
    display: grid;
    justify-items: center;
    gap: 1.5em;
}

.main__input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}

.main__input--send{
    background-color: #DC3F31;
    color: #fff;
    font-weight: 600;
}

.main__title{
    font-size: 2.3rem;
}

.main__paragraph{
    margin: .3em 0;
}


.main__social{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    gap: 1em;
}

.main__link{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: .6em 1.5em;
}

.main__link:hover{
    background-color: #fff;
}

.main__icon{
    width: 30px;
    height: 30px;
}

#sidebar {
    padding: 15px;
    width: 70%;
    max-height: 45rem;
    position: absolute;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 20;
    top: 10vh;
    scrollbar-color: none;
    background-color: #7bc62d; }
  
  #sidebar a {
    text-decoration: none; }
  
  #sidebar::-webkit-scrollbar {
    display: none; }
  
    .modal-header {
        float: left;
    }
  
  .cart-header {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto; }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px; }
  
  .cart-row {
    display: flex; }
  
  .cart-item {
    width: 45%; }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333; }
  
  .cart-quantity {
    width: 35%; }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em; }
  
  .cart-item-img {
    width: 75;
    height: auto;
    border-radius: 10px; }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 9px; }
  
  .btn-danger:hover {
    background-color: #CC4C4C; }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px; }
  
  .cart-row:last-child {
    border-bottom: 1px solid black; }
  
  .cart-row:last-child .cart-column {
    border: none; }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px; }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px; }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em; }
  
  .btn-purchase {
    text-decoration: none;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    border: none;
    border-radius: 15px;
    padding: 7px;
    background-color: #E33227;
    color: white; }
  
  .btn-purchase:hover {
    cursor: pointer;
    background-color: #D3CDAE;
    color: black; }
  
  .contenedor-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    border-radius: 15px;
    border: 6px solid rgba(56, 66, 54, 0.5);
    width: 500px;
    height: 550px;
    background-color: rgba(30, 192, 6, 0.416);;
    box-shadow: 0px 2px 15px black; }
    .contenedor-pago .form-group {
      display: flex;
      align-items: center;
      margin: 30px 0px;
      justify-content: space-between; }
      .contenedor-pago .form-group label {
        font-family: 'Nunito';
        font-size: 20px;
        margin-right: 10px; }
    .contenedor-pago .form-end h1 {
      text-align: center; }
    .contenedor-pago .form-end a {
      text-decoration: none; }
    .contenedor-pago .form-end button {
      display: block;
      justify-content: center;
      margin: 0 auto;
      font-size: 1.75em;
      border: none;
      border-radius: 15px;
      padding: 7px;
      background-color: #960900;
      color: white; }
    .contenedor-pago .form-end button:hover {
      cursor: pointer;
      background-color: #E33227; }
  
  .finalbtn {
    text-decoration: none; }
  
  #modalPago {
    padding: 15px;
    width: 80%;
    max-height: 45rem;
    position: fixed;
    overflow: auto;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    z-index: 20;
    top: -10vh;
    scrollbar-color: none;
    background-color: rgba(255, 159, 159, 0.897); }
  
  #modalPago a {
    text-decoration: none; }
  
  #modalPago::-webkit-scrollbar {
    display: none; }
    .container{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
  }
  .cart-header {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto; }
